<!-- Modal Content -->
<div class="modal-content">
  <span class="close">&times;</span>
  <h4>Edit Bonus</h4>
  <form class="uk-grid-small uk-form-stacked" uk-grid>
    <input class="uk-input" id="EditBonusID" type="hidden" placeholder="">
    <div class="uk-width-1-5@s">
      <label class="uk-form-label" for="EditBonusCode">Bonus Code</label>
      <input class="uk-input" id="EditBonusCode" type="text" placeholder="">
    </div>
    <div class="uk-width-4-5@s">
      <label class="uk-form-label" for="EditBonusName">Bonus Name</label>
      <input class="uk-input" id="EditBonusName" type="text" placeholder="">
    </div>
    <div class="uk-width-1-1@s">
      <label class="uk-form-label" for="EditBonusDescription">Bonus Description</label>
      <textarea class="uk-textarea" id="EditBonusDescription" rows="5"
        placeholder=""></textarea>
    </div>
    <div class="uk-width-1-1@s">
      <label class="uk-form-label" for="EditBonusRequirements">Bonus Requirements</label>
      <textarea class="uk-textarea" id="EditBonusRequirements" rows="5"
        placeholder=""></textarea>
    </div>
    <div class="uk-width-1-6@s">
      <label class="uk-form-label" for="EditValue">Bonus Value</label>
      <input class="uk-input" id="EditValue" type="text" placeholder="">
    </div>
    <div class="uk-width-1-6@s">
      <label class="uk-form-label" for="EditMaxAllowed">Max Allowed</label>
      <input class="uk-input" id="EditMaxAllowed" type="text" placeholder="">
    </div>
    <div class="uk-width-1-3@s">
      &nbsp;
    </div>
    <div class="uk-width-1-6@s">
      <label class="uk-form-label" for="cancelButton">&nbsp;</label>
      <button type="button" id="cancelButton" class="uk-button uk-button-default">Cancel</button>
    </div>
    <div class="uk-width-1-6@s">
      <label class="uk-form-label" for="saveBonusChangesButton">&nbsp;</label>
      <button type="button" id="saveBonusChangesButton" class="uk-button uk-button-default">Save</button>
    </div>
  </form>
</div>