<div class="uk-grid-small uk-text-center" uk-grid>
  <div class="uk-width-expand"></div>
  <div><img src="/images/MMlogo.jpeg" style="width: 100px;display: inline;"></div>
  <div class="uk-text-center">
    <p>&nbsp;<br/>
      P.O. Box 60212, King of Prussia, PA<br/>
      <a href="mailto:jeff@mileagemania.org">jeff@mileagemania.org</a><br/>
      <a href="https://www.facebook.com/groups/449167858627691/?ref=bookmarks" class="hidden-link" target="_blank">
          <i class="fab fa-facebook-f"></i>
        </a><br/>
      © 2021 MileageMania.org | Site Design by Tommy Craft
    </p>
  </div>
  <div><a href="https://www.mototourers.com" target="_blank"><img src="/images/MTsticker1_d200.png" style="width: 100px;"></a></div>
  <div class="uk-width-expand"></div>
</div>