<div class="uk-text-center">
  <div><img src="/images/MMlogo.jpeg" style="width: 100px;display: inline;"></div>
  <div class="uk-text-center">
    <p>P.O. Box 60212, King of Prussia, PA</p>
    <p><a href="mailto:jeff@mileagemania.org">jeff@mileagemania.org</a></p>
    <p><a href="https://www.facebook.com/groups/449167858627691/?ref=bookmarks" class="hidden-link" target="_blank">
        <i class="fab fa-facebook-f"></i>
      </a></p>
    <p>© 2021 MileageMania.org | Site Design by Tommy Craft</p>
  </div>
  <div>
    <img src="/images/MTsticker1_d200.png" style="width: 100px;">
  </div>
</div>