@font-face {
  font-family: 'Sansation';
  src: url('../fonts/Sansation/sansation_regular-webfont.woff2') format('woff2'),
       url('../fonts/Sansation/sansation_regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}