body {
  font-family: 'Sansation', sans-serif;
  height: 100%;
}

.container {
  padding: 12px;
}

main {
  padding: 10px;
}

@media (min-width: 960px) {
  main {
    padding: 20px;
  }
}

h2 {
  font-size: 3em;
  /* color: #fff; */
  margin: 0px;
}

h3 {
  font-size: 2.5em;
  /* color: #fff; */
  margin: 0px;
}

@media (max-width: 959px) {
  h3 {
    font-size: 1.75em;
    /* color: #fff; */
    margin: 0px;
  }
}

h4 {
  font-size: 2em;
  /* color: #fff; */
  margin: 0px;
}

@media (max-width: 959px) {
  h4 {
    font-size: 1.5em;
    /* color: #fff; */
    margin: 0px;
  }
}

h5 {
  font-size: 1.5em;
  /* color: #fff; */
  margin: 12px 0px;
}

h6 {
  font-size: 1.25em;
  /* color: #fff; */
  margin: 12px 0px;
}

.uk-nav {
  line-height: 1.3em;
  font-family: 'Sansation', sans-serif;
  font-weight: 600;
}

.uk-navbar-nav > li > a {
  font-family: 'Sansation', sans-serif;
}

.uk-logo {
  font-size: 1.5em;
  font-family: 'Sansation', sans-serif;
  /* color: #fff; */
}

a.hidden-link:link,
a.hidden-link:visited {
  color: #999;
}

a.hidden-link-text:link,
a.hidden-link-text:visited {
  color: #666;
}

/* a.hidden-link:hover {
  color: #666;
} */

.container {
  padding: 12px;
}

@media (max-width: 959px) {
  .container {
    padding: 8px;
  }
}

.tuck-content {
  margin-top: 0px;
  margin-bottom: 0px;
}

footer {
  font-size: 0.75em;
}

.inlineStrong {
  font-weight: 600;
}

.inlineIcon {
  margin: 0px 6px;
}

.title-404 {
  font-size: 3em;
  /* color: #fff; */
  margin: 0px;
}

.show-border {
  border: 1px solid;
}

.mm-review-card {
  margin-bottom: 12px;
}

.mm-card-badge {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1;
}

.mm-label {
  display: inline-block;
  padding: 4px;
  background: #444;
  line-height: 1.5;
  font-size: .875rem;
  color: #fff;
  vertical-align: middle;
  white-space: nowrap;
  border-radius: 2px;
  text-transform: uppercase;
}

.mm-img-border {
  border: solid 1px black;
}

.uk-card-body {
  padding: 20px;
}