<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head'); %>
</head>

<body>
  <% if(activeUser) { %>
    <%- include('../partials/topnavUser'); %>
  <% } else { %>
    <%- include('../partials/topnav'); %>
  <% } %>
  <div class="uk-container" uk-height-viewport="expand: true">
    <main>
      <h1 class="uk-text-center">2020 Mileage Mania</h1>
      <h6 class="uk-text-center">Annual Mileage Challenge to Benefit Freedom Service Dogs</h6>
      <div class="uk-grid-small" uk-grid>
        <div class="uk-width-1-2">
          <p><strong>The 2020 Challenge ended on November 30th, 2020</strong></p>
          <p>
            Riders from all over logged in their starting and ending mileage for the season, and rode a lot in
            between. Mileage totals were calculated at the end of the year, and the top rider in each of three
            categories receive very meager prizes. This is for charity, after all.
          </p>
          <p><strong>Raffle Prizes</strong></p>
          <p>
            Three raffle drawings were held: one in April, one in August, and one in December when the final winners
            were announced. Prizes included a Deltran Battery Tender Jr, a Kryptonite Disk Lock and a $50 Gift Card
            for RevZilla.
          </p>
          <p><strong>Winners for 2020</strong></p>
          <p>
            I pulled a Steve Harvey during the winners announcement video in December. I hadn't properly accounted for
            one rider's receipts, and mistakenly had determined another rider to be the winner. Immediately following
            the video, I was made aware of my mistake. In order to be fair to everyone involved, the rider originally
            (mistakenly) announced as the Overall Winner is now the Second Place Overall Winner and will receive a
            similar prize/award.
          </p>
          <ul>
            <li><strong>First Place Overall Winner:</strong> #17 Chris Hopper - 68,864 pts</li>
            <li><strong>Second Place Overall Winner:</strong> #11 Crystal Sabas - 43,022 pts</li>
            <li><strong>Mileage Maniac (Most Miles):</strong> #32 Michael Brennan - 41,271 miles</li>
            <li><strong>Grand Tourer (Most Bonus Points):</strong> #20 Greg Camp - 22,500 pts</li>
          </ul>
          <p><strong>2020 Statistics</strong></p>
          <ul>
            <li><strong>Total Amount Raised for Freedom Service Dogs of America:</strong> $2,835</li>
            <li><strong>Total Number of Registered Riders:</strong> 62</li>
            <li><strong>Number of Finishers:</strong> 29</li>
            <li><strong>Average Mileage per Finisher:</strong> 16,713</li>
            <li><strong>Total Verified Grand Tour Photos Submitted:</strong> 189</li>
          </ul>
        </div>
        <div class="uk-width-1-2">
          <h6>Winners Announcement</h6>
          <iframe width="425" height="315" src="https://www.youtube.com/embed/z2eOUSk_KU4" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
          <h6>April Raffle Drawing</h6>
          <iframe width="425" height="315" src="https://www.youtube.com/embed/WH4O4UKyRSg" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
          <h6>August Raffle Drawing</h6>
          <iframe width="425" height="315" src="https://www.youtube.com/embed/aneXA6cd7yU" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
          <p><strong>Mileage Placement</strong></p>
          <ol>
            <li>Chris Hopper - 49,364</li>
            <li>Michael Brennan - 41,271</li>
            <li>Lionel Ramos - 36,698</li>
            <li>Crystal Sabas - 25,772</li>
            <li>Mitch Friedman - 24,828</li>
            <li>Scott Durham - 24,516</li>
            <li>Christian Rasmussen - 23,867</li>
            <li>Gerry Arel - 21,524</li>
            <li>Eric James - 18,829</li>
            <li>Matthew McAtee - 18,478</li>
            <li>Doug Bowers - 18,265</li>
            <li>Rodney Woudeman - 17,714</li>
            <li>James Jackson - 16,179</li>
            <li>Trevor Ross - 15,315</li>
            <li>Greg Camp - 14,886</li>
            <li>Michael McGarvey - 14,494</li>
            <li>Jason Jenkins - 13,491</li>
            <li>Garland Arnett - 12,816</li>
            <li>Vicki Rossing - 12,607</li>
            <li>David Schroeder - 11,284</li>
            <li>Luke Rutledge - 11,057</li>
            <li>Tommy Craft - 10,963</li>
            <li>Jerry Read - 8,061</li>
            <li>Jeff Gilbert - 6,139</li>
            <li>Brian Geiger - 6,000</li>
            <li>Jim Patton - 3,890</li>
            <li>Lisa Rufo - 3,136</li>
            <li>Aaron Bottjen - 2,367</li>
            <li>Del Brand - 87</li>
          </ol>
        </div>
      </div>
    </main>
  </div>
  <footer>
    <%- include('../partials/footer'); %>
  </footer>
</body>

</html>