<head>
  <%- include('../partials/head'); %>
</head>

<body>
  <% if(activeUser) { %>
    <%- include('../partials/topnavUser'); %>
  <% } else { %>
    <%- include('../partials/topnav'); %>
  <% } %>
  <div class="uk-container" uk-height-viewport="expand: true">
    <main>
      <h1 class="uk-text-center">2021 Mileage Mania</h1>
      <h6 class="uk-text-center">Annual Mileage Challenge to Benefit Freedom Service Dogs</h6>
      <div class="uk-grid-small" uk-grid>
        <div class="uk-width-1-2">
          <p>
            The 2021 Challenge is open for registration on the <a href="http://rides.jasonjonas.com/" target="_blank">Ride Master website</a> until September 1st, 2021.
          </p>
          <p>
            Riders from all over logged in their starting and ending mileage for the season, and rode a lot in between. Mileage totals were calculated at the end of the year, and the top rider in each of three categories receive very meager prizes. This is for charity, after all.
          </p>
          <p>
            <strong>How does it work?</strong> First, you register via the <a href="http://rides.jasonjonas.com/" target="_blank">Ride Master website</a>, and pay the $35 registration fee (of which, $25 is given to the charity). The rest covers your pins, stickers, patch, and anything else we send you, as well as going towards raffle and finalist prizes. On or after March 13th, upload a photo of your starting mileage - a photo of your bike's odometer, also showing a receipt dated on or after March 13th - to our Google Drive (you will receive an email with a link to your own folder). Then ride. And ride. Then ride some more. Upload a photo of your odometer showing your ending mileage (no receipt necessary), no later than midnight EST on November 1st. Mileage totals will be calculated and verified with all riders.
          </p>
          <p>
            <strong>Are there bonus locations?</strong> YES! This year, due to popular demand, we will continue the Grand Tour challenge as well. All registered riders can receive a numbered rally flag, and a list of general locations and items will be emailed out and posted online by March 12th. The list will show what you need to photograph - these locations will be general in nature, so you should be able to get them in most areas. Bonus points for correctly-submitted photos will add to your mileage total for the year. Detailed instructions on what needs to be in the photos and how to submit them are in the Bonus List PDF, which will be available March 12th on this page.
          </p>
          <img class="uk-align-center" data-src="/images/dogstatue.jpg" width="434" height="370" alt="Example Rally Flag" uk-img>
        </div>
        <div class="uk-width-1-2">
          <img class="uk-align-center" data-src="/images/ExampleFlag.jpg" width="434" height="370" alt="Example Rally Flag" uk-img>
          <p>
            <strong>Who can participate?</strong> Anyone, anywhere, with a motorcycle or motorcycle-style trike (including Can-Am Spyder). You can even use more than one motorcycle - just be sure to send starting and ending mileage for each bike.
          </p>
          <p>
            <strong>What's it all for?</strong> The money received from entry fees and donations goes to <a href="https://freedomservicedogs.org/about-us/" target="_blank">Freedom Service Dogs</a>. This organization has been around since 1987, rescuing shelter dogs and training them to be assistance dogs for children, veterans, and other people in need.  It has repeatedly been rated among the top ten veteran-related charities in the USA. All of the expenses of running the Mileage Mania - mailings, stickers, prizes - are covered by a portion of your entry fee, Jeff of MotoTourers.com, and participating sponsors.
          </p>
          <p>
            <strong>So I do what now?</strong> Starting mid-February, register at RideMaster and pay the entry fee. On or after March 13th, 2021, submit your starting mileage by uploading a photo of your bike's odometer with a current receipt showing the date. Then ride...a lot. Before midnight on November 1st, submit your ending mileage by uploading a photo of your odometer (no receipt necessary). Final standings are announced by the end of November. Brag about how many miles you rode this year.
          </p>
          <p>
            <strong>Any changes from last year?</strong> One major change from previous years is that photos will be submitted via Google Drive. Riders will receive an email with a link to their folder. Photos can be uploaded from a computer or from a mobile device (so you can upload bonus photos while you are still on the road!). Also, the registration fee is higher, and not all of it will go to the charity. The cost of items and postage last year was overwhelming. And since returning riders already have a flag, they will not need to purchase another one; returning riders will receive a commemorative 2020 pin for their flag. All registered riders will receive a 2021 pin that MUST BE ON YOUR FLAG for the Grand Tour photos this year. Be sure to indicate if you need a rally flag when you register on RideMaster.
          </p>
          <p>
            <strong>Is that it?</strong> Yes, that's it. No fuel logs, no maps. Just starting and ending mileage for each of your bikes. The photo bonuses are completely optional. It's a fund-raiser; the challenge is just for some friendly fun amongst riders.
          </p>
          <p>
            <strong>Questions?</strong> Send your questions and comments to <a href="mailto:jeff@mileagemania.org">Jeff</a>.
          </p>
        </div>
      </div>
    </main>
  </div>
  <footer>
    <%- include('../partials/footer'); %>
  </footer>
</body>