<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head'); %>
</head>

<body>
  <% if(activeUser) { %>
    <%- include('../partials/topnavUser'); %>
  <% } else { %>
    <%- include('../partials/topnav'); %>
  <% } %>
  <div class="uk-container" uk-height-viewport="expand: true">
    <main>
      <div>
        <p>Contact Form Goes Here</p>
      </div>
      <div uk-grid>
        <div>
          <p>CONTACT INFO</p>
          <div uk-grid>
            <div><i class="fad fa-home"></i></div>
            <div>
              Mailing Address:<br/>
              P.O. Box 60212<br/>
              King of Prussia, PA 19406-0212
            </div>
          </div>
          <div uk-grid>
            <div><i class="fal fa-comments"></i></div>
            <div>
              Email Address:<br/>
              <a class="hidden-link" href="mailto:jeff@mileagemania.org">jeff@mileagemania.org</a>
            </div>
          </div>
        </div>
        <div><img data-src="/images/contact.jpg" width="434" height="370" alt="Jeff sitting on his bike" uk-img></div>
      </div>
    </main>
  </div>
  <footer>
    <%- include('../partials/footer'); %>
  </footer>

</body>

</html>