<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head'); %>
</head>

<body>
  <%- include('../partials/topnav'); %>
  <div class="uk-container" uk-height-viewport="expand: true">
    <main>
      COVID-1000 content goes here.
    </main>
  </div>
  <footer>
    <%- include('../partials/footer'); %>
  </footer>
</body>
</html>