<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head'); %>
</head>

<body>
  <%- include('../partials/topnav'); %>
  <div class="uk-container" uk-height-viewport="expand: true">
    <main>
      History content goes here.
    </main>
    <footer>
      <%- include('../partials/footer'); %>
    </footer>
  </div>
</body>

</html>