<head>
  <%- include('../partials/head'); %>
</head>

<body>
  <div class="container" uk-height-viewport="expand: true">
    <%- include('../partials/topnav'); %>
  </div>
  <main>
    Review content goes here
  </main>
  <footer>
    <%- include('../partials/footer'); %>
  </footer>
</body>