<head>
  <%- include('../partials/head'); %>
</head>

<body>
  <%- include('../partials/topnav'); %>
    <div class="uk-container" uk-height-viewport="expand: true">
      <main>
        <h1>Rally Submission Reviewer</h1>
        <div class="uk-container">
          Top half should be the image to be reviewed, oldest first. Bottom half is the historical view stolen from the submit page.
        </div>
      </main>
      <footer>
        <%- include('../partials/footer'); %>
      </footer>
    </div>
</body>