<head>
  <%- include('../partials/head'); %>
</head>

<body>
  <%- include('../partials/topnav'); %>
    <div class="uk-container" uk-height-viewport="expand: true">
      <main>
        <h1>Rally Submission Reviewer</h1>
        <div class="uk-container">
          <div class="uk-grid-small uk-grid" uk-grid>
            <!-- Left Column -->
            <div class="uk-child-width-1-4@m">
              <div class="uk-card uk-card-default mm-review-card">
                <div class="uk-card-media-top">
                  <img src="images/TacoLogo.jpg" alt="">
                </div>
                <div class="mm-card-badge mm-label "><span class="fas fa-tachometer-alt fa-lg"></span></div>
              </div>
              <div class="uk-card uk-card-default mm-review-card">
                <div class="uk-card-media-top">
                  <img src="images/gwen.jpeg" alt="">
                </div>
                <div class="mm-card-badge mm-label "><span class="fas fa-paw fa-lg"></span></div>
              </div>
            </div>
            <!-- Right Column -->
            <div class="uk-child-width-3-4@m">
              Review area
            </div>
          </div>
        </div>
      </main>
      <footer>
        <%- include('../partials/footer'); %>
      </footer>
    </div>
</body>